body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/664c7ae50eea9c731b37e817/e781f4c6-01d6-47b0-bd76-563ad4c0818c/DSC06616.jpg?format=2500w');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}